* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to right, #081229, #14213d);

    padding: 20px;
}

.container {

    width: 100%;
    max-width: 420px;

    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(10px);

    padding: 40px 35px;
    border-radius: 20px;

    color: white;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.container h1 {
    font-size: 35px;
    margin-bottom: 12px;
    text-align: center;
}

.container p {
    text-align: center;
    color: #cbd5e1;
    margin-bottom: 30px;
    line-height: 1.6;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
}

.input-group input {
    width: 100%;
    padding: 14px;

    border: none;
    outline: none;

    border-radius: 10px;

    background: rgba(255, 255, 255, 0.08);
    color: white;

    font-size: 15px;
}

.input-group input::placeholder {
    color: #94a3b8;
}

.reset-btn {

    width: 100%;
    padding: 14px;

    border: none;
    border-radius: 10px;

    background: #38bdf8;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

.reset-btn:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

.back-login {

    margin-top: 22px;
    text-align: center;
}

.back-login a {

    color: #38bdf8;
    text-decoration: none;
    font-size: 15px;
}

.back-login a:hover {
    text-decoration: underline;
}