* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background:
        linear-gradient(to right, #081229, #14213d);

    padding: 20px;
}

.container {

    width: 100%;
    max-width: 430px;

    background:
        rgba(255, 255, 255, 0.06);

    border:
        1px solid rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(10px);

    padding: 40px 35px;

    border-radius: 22px;

    color: white;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.3);
}

.container h1 {

    text-align: center;
    font-size: 34px;

    margin-bottom: 12px;
}

.container p {

    text-align: center;

    color: #cbd5e1;

    line-height: 1.6;

    margin-bottom: 30px;
}

.input-group {

    margin-bottom: 22px;
}

.input-group label {

    display: block;

    margin-bottom: 8px;

    font-size: 15px;
}

.input-group input {

    width: 100%;

    padding: 14px;

    border: none;
    outline: none;

    border-radius: 12px;

    background:
        rgba(255, 255, 255, 0.08);

    color: white;

    font-size: 15px;
}

.input-group input::placeholder {
    color: #94a3b8;
}

.reset-btn {

    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 12px;

    background: #38bdf8;

    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.reset-btn:hover {

    transform: translateY(-2px);

    opacity: 0.9;
}

.bottom-text {

    text-align: center;

    margin-top: 22px;

    color: #cbd5e1;

    font-size: 15px;
}

.bottom-text a {

    color: #38bdf8;

    text-decoration: none;
}

.bottom-text a:hover {
    text-decoration: underline;
}